@import url(https://fonts.googleapis.com/css?family=Kanit:700);
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background: #1D9ABD;
$def-color: #f0f0f0;
$footer-color: #09303B;
$red: #f00;
$white: #fff;
$black: #000;
$box-hover: #878787;

body {
  background-color: $background;
  color: $def-color;
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
}

.bgimage {
  background-color: transparent;
  width: 50%;
  position: relative;
  margin-left: 20em;
  padding-top: 2em;
}

.modal-body {
  color: $black;
}

.btn-group {
  display: inline;
}

.radio-inline {
  padding-top: .6em;
  padding-bottom: .6em;
}

.brand {
    height: 60px;
    width: 70px;
    margin-left: .5em;
    border: 2px solid $background;
    border-radius: 3px;
}

nav {
  padding-top: .3em;
  text-align: center
}

.navbar-brand {
  height: 65px;
  padding: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.sign-in1,
.sign-out1,
.change-password1,
.sign-up1 {
  color: $footer-color;
  font-size: 1.5em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;
  vertical-align: bottom;
}

p,
h4 {
  color: $footer-color;
}

h3{
  padding: 1em;
}

.poll-buttons {
  display: inline-flex;
  width: 95%;
}

.container-body {
  margin: auto;
  max-width: 1080px;
  min-height: 600px;
}

.poll-link {
  width: 45%;
  text-align: center;
  border: 2px solid $background;
  border-radius: 3px;
}

.title {
  font-size: 3em;
  text-align: left;
  font-style: italic;
  text-decoration: underline;
}

.intro {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  padding: 3em;
  text-shadow: 2px 2px $black;
}

button {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  padding: 6px 12px;
  vertical-align: middle;
  overflow: visible;
  white-space: nowrap;
  border: 1px solid transparet;
  font-size: 1.5em;
}

.find-poll,
.create-poll {
  font-size: 1.3em;
  margin-left: 25%;
}

.submit-poll:hover {
  background-color: $box-hover;
}

#chart_div {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 35%;
}

.poll {
  font-size: 1.4em;
}

strong {
  margin: 1em;
  font-size: 1.5em;
  color: $box-hover;
}

footer {
  background-color: $footer-color;
  font-size: 9em;
  margin-top: .5em;
  padding: .3em;
  text-align: center;
  color: $white;
}
